<%= form_for(@message) do |f| %>

  <% if @message.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>

  <% end %>

  <div class="field">
    <%= label_tag 'タイトル' %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= label_tag '本文' %><br>
    <%= f.text_area :desc %>
  </div>

  <div class="field">
    <%= f.hidden_field :engineer_id, :value => @engineer_id %>
  </div>

  <div class="field">
    <%= f.hidden_field :to_type, :value => Settings.user_type['engineer'] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
