<div class="container container--center">

  <!-- flash -->
  <% flash.each_with_index do |flash,i| %>
    <div id="notice-panel-<%= i %>" class="panel panel--notice panel--<%= flash[0] %> grid" name="notice-panel">
      <div class="grid__sp-11 grid__sm-11"><%= flash[1] %></div>
      <div id="rm-notice-panel-<%= i %>" name="rm-notice-panel" class="grid__sp-1 grid__sm-1 rm-pd"><i class="fa fa-remove fa--with-notice"></i></div>
    </div>
  <% end %>
  <!-- /flash -->
  
  <div class="panel panel--notice mg-10">
    <p class="text-bold">エンジニアの絞り込み検索</p>
    <div class="field">
      <%= form_tag(search_path) do %>
        <%= select_tag '1[skill_id]', options_from_collection_for_select(Skill.all,:id,:name) %>
        <%= select_tag '1[years_of_experience]', options_for_select(['1年未満','1年以上','2年以上','3年以上']) %>
        <%= select_tag '1[level]', options_for_select([['入門者レベル',0],['初心者レベル',1],['中級者レベル',2],['上級者レベル',3]]) %>
        <%= submit_tag '検索', :class => 'btn btn--s' %>
      <% end %>
    </div>
  </div>

  <% if @engineers != nil %>
    <div class="grid list-item-wrapper">
        <% @engineers.each_with_index do |engineer,i| %>
          <div class="grid__xs-6 grid__sp-4 grid__sm-3 grid__md-2 pd-r-10">

            <div class="list-item grid">
  
              <div class="grid__sp-12 rm-pd text-center">
                <% if engineer.image != nil && engineer.image.length > 0 %>
                  <%= image_tag engineer.image.url,:class => 'list-item__img' %>
                <% else %>
                  <%= image_tag '/images/default_engineer_profile_img.jpg',:class => 'list-item__img' %>
                <% end %>
              </div>
  
              <div class="grid__sp-12 list-item__desc">
                <% engineer.engineer_skills.each_with_index do |skill,i| %>
                  <%= @skills[skill.skill_id - 1].name %>:<%= skill.years_of_experience %>年<br>
                  <% skill.level.times do |i| %>
                    <i class="fa fa-star fa--accent"></i>
                  <% end %>
                  <% if i == 2 %>
                    <br>
                    その他複数...
                    <% break %>
                  <% elsif engineer.engineer_skills.last == skill %>
                    <% break %>
                  <% end %><br>
                <% end %>
              </div>

              <%= link_to 'もっと見る', engineer, :class => 'list-item__lower-right-text' %>
              <%= link_to '', engineer, :class => 'box-link' %>
  
            </div>
          </div>
        <% end %>
    </div>
  <% end %>

  <%= paginate @engineers %>

</div>
