<div class="container">
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>Name:</strong>
    <%= @engineer.name %>
  </p>
  
  <p>
    <strong>Email:</strong>
    <%= @engineer.email %>
  </p>
  
  <p>
    <strong>Encrypted password:</strong>
    <%= @engineer.password_digest %>
  </p>
  
  <p>
    <strong>Self introduction:</strong>
    <%= @engineer.self_introduction %>
  </p>
  
  <p>
    <strong>Living place:</strong>
    <%= @engineer.living_place %>
  </p>
  
  <p>
    <strong>Fb uid:</strong>
    <%= @engineer.fb_uid %>
  </p>
  
  <p>
    <strong>Github uid:</strong>
    <%= @engineer.github_uid %>
  </p>
  
  <p>
    <strong>Age:</strong>
    <%= @engineer.age %>
  </p>
  
  <p>
    <strong>Phone number:</strong>
    <%= @engineer.phone_number %>
  </p>
  
  <p>
    <strong>Status:</strong>
    <%= @engineer.status %>
  </p>
  
  <p>
    <strong>Job history:</strong>
    <%= @engineer.job_history %>
  </p>
  
  <p>
    <strong>Notes:</strong>
    <%= @engineer.notes %>
  </p>
  
  <p>
    <strong>Is invitation enabled:</strong>
    <%= @engineer.is_invitation_enabled %>
  </p>
  
  <%= link_to 'Edit', edit_engineer_path(@engineer) %> |
  <%= link_to 'Back', engineers_path %><br>
  <% if session[:user] != nil %>
    <%= link_to 'メッセージを送る', new_message_path(:engineer_id => @engineer.id) %>
  <% else %>
    <button name='show-popup-login-form'>メッセージを送る</button>
  <% end %>
  
</div>
