<div class="navbar">
  <div class="navbar__left">
    <% if session[:user_type] == 0 %>
      <%= link_to '逆求人(仮)※エンジニア', root_path, :class => 'navbar__logo'  %>
    <% elsif session[:user_type] == 1 %>
      <%= link_to '逆求人(仮)※企業', root_path, :class => 'navbar__logo'  %>
    <% else %>
      <%= link_to '逆求人(仮)', root_path, :class => 'navbar__logo'  %>
    <% end %>
  </div>
  user_type:<%= session[:user_type] %>
  user_id:<%= session[:user_id] %>
  <div class="navbar__right">
    <div class="navbar__list">
      <ul>
        <% if session[:user_id] == nil %>
          <li name="show-popup-login-form"><a>ログイン</a></li>
          <li>
            <%= link_to '新規登録', new_engineer_path, :class => '' %>
          </li>
          <li>
            <%= link_to 'お問い合わせ', new_inquiry_path, :class => '' %>
          </li>
        <% else %>
          <li>
            <%= link_to 'ログアウト', sign_out_path, :method => 'post' %>
          </li>
          <li>
            <%= link_to 'メッセージ', messages_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
